@model IEnumerable<Payments>

@{
    Layout = null;
}

<form asp-controller ="Payments" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type ="submit">Upload</button>
</form> 

@if (Model.Count() != 0)
{
    <hr />
    <table  border="1">
        <tr>
            <td>created_at</td>
            <td>service</td>
            <td>payment_id</td>
            <td>description</td>
            <td>amount</td>
            <td>currency</td>
            <td>state</td>
            <td>issuer_response_code</td>
            <td>transaction_id</td>
            <td>client_id</td>
            <td>subscription_id</td>
        </tr>
        
        @foreach(Payments payments in Model)
        {
         <tr>
                <td>@payments.created</td>
                <td>@payments.service</td>
                <td>@payments.payment_id</td>
                <td>@payments.description</td>
                <td>@payments.amount</td>
                <td>@payments.currency</td>
                <td>@payments.state</td>
                <td>@payments.issuer_response_code</td>
                <td>@payments.transaction_id</td>
                <td>@payments.client_id</td>
                <td>@payments.subscription_id</td>
        </tr>
        }

    </table>    
}